.xmake/*
./build/*
.xmake/windows/x64/cache/config
.xmake/windows/x64/cache/history
build/.deps/button-demo/windows/x64/release/src/main.cpp.obj.d
build/.deps/ui/windows/x64/release/src/animation/UIAnimation.cpp.obj.d
build/.deps/ui/windows/x64/release/src/animation/UIAnimationManager.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/FlexLayout.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UIComponent.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UILabel.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UIPanel.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UITextInput.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UITexture.cpp.obj.d
build/.objs/button-demo/windows/x64/release/src/main.cpp.obj
build/.objs/ui/windows/x64/release/src/animation/UIAnimation.cpp.obj
build/.objs/ui/windows/x64/release/src/animation/UIAnimationManager.cpp.obj
build/.objs/ui/windows/x64/release/src/component/FlexLayout.cpp.obj
build/.objs/ui/windows/x64/release/src/component/UIButton.cpp.obj
build/.objs/ui/windows/x64/release/src/component/UIComponent.cpp.obj
build/.objs/ui/windows/x64/release/src/component/UILabel.cpp.obj
build/.objs/ui/windows/x64/release/src/component/UIPanel.cpp.obj
build/.objs/ui/windows/x64/release/src/component/UITextInput.cpp.obj
build/.objs/ui/windows/x64/release/src/component/UITexture.cpp.obj
build/windows/x64/release/button-demo.exe
build/windows/x64/release/ui.lib
.xmake/windows/x64/cache/config
.xmake/windows/x64/cache/history
build/.deps/button-demo/windows/x64/release/button-demo.exe.d
build/.deps/button-demo/windows/x64/release/src/main.cpp.obj.d
build/.deps/ui/windows/x64/release/ui.lib.d
build/.deps/ui/windows/x64/release/src/animation/UIAnimationManager.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UIComponent.cpp.obj.d
build/.objs/button-demo/windows/x64/release/src/main.cpp.obj
build/.objs/ui/windows/x64/release/src/animation/UIAnimationManager.cpp.obj
build/.objs/ui/windows/x64/release/src/component/UIComponent.cpp.obj
build/windows/x64/release/button-demo.exe
build/windows/x64/release/ui.lib
build/.deps/ui/windows/x64/release/src/UIWindow.cpp.obj.d
.xmake/windows/x64/cache/config
build/.deps/ui/windows/x64/release/src/animation/UIEasing.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UIButton.cpp.obj.d
build/.objs/ui/windows/x64/release/src/UIWindow.cpp.obj
build/.objs/ui/windows/x64/release/src/animation/UIEasing.cpp.obj
.xmake/windows/x64/cache/config
build/.deps/ui/windows/x64/release/src/animation/UIAnimation.cpp.obj.d
build/.deps/ui/windows/x64/release/src/animation/UIAnimationManager.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UIComponent.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UILabel.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UIPanel.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UITextInput.cpp.obj.d
build/.deps/ui/windows/x64/release/src/component/UITexture.cpp.obj.d
build/.objs/ui/windows/x64/release/src/animation/UIAnimation.cpp.obj    


.xmake/windows/x64/cache/config
.xmake/windows/x64/cache/detect
.xmake/windows/x64/cache/package
.xmake/windows/x64/cache/toolchain
build/.deps/clipboard-demo/windows/x64/release/clipboard-demo.exe.d
build/.deps/clipboard-demo/windows/x64/release/src/clipboard_demo.cpp.obj.d
build/.objs/clipboard-demo/windows/x64/release/src/clipboard_demo.cpp.obj
build/packages/b/button-demo/xmake.lua
build/packages/b/button-demo/windows/x64/release/bin/button-demo.exe
build/packages/b/button-demo/windows/x64/release/bin/glew32.dll
build/packages/b/button-demo/windows/x64/release/bin/glfw3.dll
build/packages/b/button-demo/windows/x64/release/bin/nanovg.dll
build/packages/c/clipboard-demo/xmake.lua
build/packages/c/clipboard-demo/windows/x64/release/bin/clipboard-demo.exe
build/packages/c/clipboard-demo/windows/x64/release/bin/glew32.dll
build/packages/c/clipboard-demo/windows/x64/release/bin/glfw3.dll
build/packages/c/clipboard-demo/windows/x64/release/bin/nanovg.dll
build/packages/u/ui/xmake.lua
.xmake/windows/x64/cache/config
.xmake/windows/x64/cache/detect
.xmake/windows/x64/cache/package
.xmake/windows/x64/cache/toolchain
build/.deps/vimag-demo/windows/x64/release/vimag-demo.exe.d
build/.deps/vimag-demo/windows/x64/release/src/Vimag.cpp.obj.d
build/.objs/vimag-demo/windows/x64/release/src/Vimag.cpp.obj
build/windows/x64/release/vimag-demo.exe
xmake.lua
build/.deps/vimag-demo/windows/x64/release/src/TinyEXIF/TinyEXIF.cpp.obj.d
build/.objs/vimag-demo/windows/x64/release/src/TinyEXIF/TinyEXIF.cpp.obj
build/.build_cache/0e/0e4be35c9dab7323b7431757120625cf
build/.build_cache/12/12d3fd250b254296f95f6776eed599de
build/.build_cache/1b/1b959d785a5f84828a0561975a33d34e
build/.build_cache/1c/1c23af86d20fdcbf17d00452406628f8
build/.build_cache/38/38636fbceee1d2787eac50779e37a507
build/.build_cache/39/395c5ba0abc6bdeb116c6b9270899762
build/.build_cache/3f/3f3fb5915066372b88e50b2521218f73
build/.build_cache/5f/5f18ae29993086e3a8a0275447944a44
build/.build_cache/66/664e9808d93ba1942552b44266a8c8c0
build/.build_cache/69/6957a2c28497cb69f6de10552c67df07
build/.build_cache/85/858bd2a72167a3dbb63c87d63edd3dfe
build/.build_cache/ad/ad471aa4df0bd4c7cba31c4ae53a5185
build/.build_cache/af/af14d4a467204d8a92e3b68fbfe890fa
build/.build_cache/b7/b7fa45574531f65ebfab0230eb56c0a8
build/.build_cache/bc/bcc5e1688d5c8f8f774d261cec0badc2
build/.build_cache/be/be4c118091a8de8b966d70bd8a6b7184
build/.build_cache/c1/c1d77f9167d8e4bd9ef7be29b0437c24
build/.build_cache/c3/c3bba14487bed03d1d4739b20146f2f9
build/.build_cache/c5/c5d281ef7a9128a14ad988e804284c1a
build/.build_cache/c6/c61275e49b4691511bc3dab2c845e85b
build/.build_cache/d9/d985e4fcd5fb5bad987a210df7512025
build/.build_cache/da/da2a14302c260df06c9301117785c885
build/.build_cache/df/df9ace44e490c6836a4409efa54b5f1a
build/.build_cache/e6/e69f68b74aa20cbf858f8dc4b04cad43
build/.build_cache/f3/f35bd6fa23f3e76d42ab5b86fdc398c7
build/.build_cache/f4/f40c4bd1d4eb9c1c0edba7f789c63c2f
build/.build_cache/fe/fe7b9aa94e3d08e684051f2ecf817eb3
build/.deps/button-demo/linux/x86_64/release/button-demo.d
build/.deps/button-demo/linux/x86_64/release/src/main.cpp.o.d
build/.deps/ui/linux/x86_64/release/libui.a.d
build/.deps/ui/linux/x86_64/release/src/UIWindow.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/animation/UIAnimation.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/animation/UIAnimationManager.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/animation/UIEasing.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/component/FlexLayout.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/component/UIButton.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/component/UIComponent.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/component/UILabel.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/component/UIPanel.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/component/UITextInput.cpp.o.d
build/.deps/ui/linux/x86_64/release/src/component/UITexture.cpp.o.d
build/.deps/vimag-demo/linux/x86_64/release/vimag-demo.d
build/.deps/vimag-demo/linux/x86_64/release/src/Vimag.cpp.o.d
build/.deps/vimag-demo/linux/x86_64/release/src/TinyEXIF/TinyEXIF.cpp.o.d
build/.objs/button-demo/linux/x86_64/release/src/main.cpp.o
build/.objs/ui/linux/x86_64/release/src/UIWindow.cpp.o
build/.objs/ui/linux/x86_64/release/src/animation/UIAnimation.cpp.o
build/.objs/ui/linux/x86_64/release/src/animation/UIAnimationManager.cpp.o
build/.objs/ui/linux/x86_64/release/src/animation/UIEasing.cpp.o
build/.objs/ui/linux/x86_64/release/src/component/FlexLayout.cpp.o
build/.objs/ui/linux/x86_64/release/src/component/UIButton.cpp.o
build/.objs/ui/linux/x86_64/release/src/component/UIComponent.cpp.o
build/.objs/ui/linux/x86_64/release/src/component/UILabel.cpp.o
build/.objs/ui/linux/x86_64/release/src/component/UIPanel.cpp.o
build/.objs/ui/linux/x86_64/release/src/component/UITextInput.cpp.o
build/.objs/ui/linux/x86_64/release/src/component/UITexture.cpp.o
build/.objs/vimag-demo/linux/x86_64/release/src/Vimag.cpp.o
build/.objs/vimag-demo/linux/x86_64/release/src/TinyEXIF/TinyEXIF.cpp.o
